<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net48" />
  <package id="Dapper" version="2.0.30" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Hosting" version="4.1.0" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net48" />
  <package id="MySql.Data.Entity" version="6.10.9" targetFramework="net48" />
  <package id="Nancy" version="2.0.0" targetFramework="net48" />
  <package id="Nancy.Owin" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net48" />
</packages>